In [1]:
import numpy as np
import pandas as pd
df1=pd.read_csv("c:\\python_work\\reservation_day.csv")
df2=pd.read_csv("c:\\python_work\\hotelcode.csv")
df1

           입실일     코드   종류    1박요금  예약인원  숙박일수
0   2024-07-20  MS001   펜션  120000     2     2
1   2024-07-20  SK001  리조트  135000     2     3
2   2024-07-20  TB001   펜션   98000     3     3
3   2024-07-20  LT001   호텔  250000     3     2
4   2024-07-20  BS001  리조트  125000     3     2
5   2024-07-20  HA001   호텔  270000     4     3
6   2024-07-20  KA001   호텔   32000     4     4
7   2024-07-20  BL001  리조트   75000     6     2
8   2024-07-21  LT001   호텔  250000     3     1
9   2024-07-21  BS001  리조트  125000     4     1
10  2024-07-21  HA001   호텔  270000     4     2
11  2024-07-21  KA001   호텔   32000     2     2
12  2024-08-03  MS001   펜션  120000     4     3
13  2024-08-03  SK001  리조트  135000     4     3
14  2024-08-03  TB001   펜션   98000     4     3
15  2024-08-03  LT001   호텔  250000     2     3
16  2024-08-03  BS001  리조트  125000     4     2
17  2024-08-03  HA001   호텔  270000     4     3
18  2024-08-03  KA001   호텔   32000     6     4
19  2024-08-03  BL001  리조트   75000     6     2
20  2024-08-04  LT001   호텔  250000     2     1
21  2024-08-04  HA001   호텔  270000     2     2
22  2024-08-04  TB001   펜션   98000     6     2
23  2024-08-04  KA001   호텔   32000     4     2
24  2024-08-04  BL001  리조트   75001     2     3

In [2]:
df2

      코드   지역      숙소명
0  MS001  서부권    엠스테이
1  SK001  동부권   스카이베이
2  TB001  동부권     더비치
3  LT001  동부권    롯데캐슬
4  BS001  서부권    베스트뷰
5  HA001  서귀포   하야트호텔
6  KA001  서귀포   KAL호텔
7  BL001  남해권    푸른바다

In [3]:
df=pd.merge(df1,df2, on="코드", how='inner')
df

           입실일     코드   종류    1박요금  예약인원  숙박일수   지역      숙소명
0   2024-07-20  MS001   펜션  120000     2     2  서부권    엠스테이
1   2024-08-03  MS001   펜션  120000     4     3  서부권    엠스테이
2   2024-07-20  SK001  리조트  135000     2     3  동부권   스카이베이
3   2024-08-03  SK001  리조트  135000     4     3  동부권   스카이베이
4   2024-07-20  TB001   펜션   98000     3     3  동부권     더비치
5   2024-08-03  TB001   펜션   98000     4     3  동부권     더비치
6   2024-08-04  TB001   펜션   98000     6     2  동부권     더비치
7   2024-07-20  LT001   호텔  250000     3     2  동부권    롯데캐슬
8   2024-07-21  LT001   호텔  250000     3     1  동부권    롯데캐슬
9   2024-08-03  LT001   호텔  250000     2     3  동부권    롯데캐슬
10  2024-08-04  LT001   호텔  250000     2     1  동부권    롯데캐슬
11  2024-07-20  BS001  리조트  125000     3     2  서부권    베스트뷰
12  2024-07-21  BS001  리조트  125000     4     1  서부권    베스트뷰
13  2024-08-03  BS001  리조트  125000     4     2  서부권    베스트뷰
14  2024-07-20  HA001   호텔  270000     4     3  서귀포   하야트호텔
15  2024-07-21  HA001   호텔  270000     4     2  서귀포   하야트호텔
16  2024-08-03  HA001   호텔  270000     4     3  서귀포   하야트호텔
17  2024-08-04  HA001   호텔  270000     2     2  서귀포   하야트호텔
18  2024-07-20  KA001   호텔   32000     4     4  서귀포   KAL호텔
19  2024-07-21  KA001   호텔   32000     2     2  서귀포   KAL호텔
20  2024-08-03  KA001   호텔   32000     6     4  서귀포   KAL호텔
21  2024-08-04  KA001   호텔   32000     4     2  서귀포   KAL호텔
22  2024-07-20  BL001  리조트   75000     6     2  남해권    푸른바다
23  2024-08-03  BL001  리조트   75000     6     2  남해권    푸른바다
24  2024-08-04  BL001  리조트   75001     2     3  남해권    푸른바다

In [4]:
df_bakcup=df.copy()
df['숙박요금']=df['1박요금']*df['숙박일수']
df

           입실일     코드   종류    1박요금  예약인원  숙박일수   지역      숙소명    숙박요금
0   2024-07-20  MS001   펜션  120000     2     2  서부권    엠스테이   240000
1   2024-08-03  MS001   펜션  120000     4     3  서부권    엠스테이   360000
2   2024-07-20  SK001  리조트  135000     2     3  동부권   스카이베이   405000
3   2024-08-03  SK001  리조트  135000     4     3  동부권   스카이베이   405000
4   2024-07-20  TB001   펜션   98000     3     3  동부권     더비치   294000
5   2024-08-03  TB001   펜션   98000     4     3  동부권     더비치   294000
6   2024-08-04  TB001   펜션   98000     6     2  동부권     더비치   196000
7   2024-07-20  LT001   호텔  250000     3     2  동부권    롯데캐슬   500000
8   2024-07-21  LT001   호텔  250000     3     1  동부권    롯데캐슬   250000
9   2024-08-03  LT001   호텔  250000     2     3  동부권    롯데캐슬   750000
10  2024-08-04  LT001   호텔  250000     2     1  동부권    롯데캐슬   250000
11  2024-07-20  BS001  리조트  125000     3     2  서부권    베스트뷰   250000
12  2024-07-21  BS001  리조트  125000     4     1  서부권    베스트뷰   125000
13  2024-08-03  BS001  리조트  125000     4     2  서부권    베스트뷰   250000
14  2024-07-20  HA001   호텔  270000     4     3  서귀포   하야트호텔   810000
15  2024-07-21  HA001   호텔  270000     4     2  서귀포   하야트호텔   540000
16  2024-08-03  HA001   호텔  270000     4     3  서귀포   하야트호텔   810000
17  2024-08-04  HA001   호텔  270000     2     2  서귀포   하야트호텔   540000
18  2024-07-20  KA001   호텔   32000     4     4  서귀포   KAL호텔   128000
19  2024-07-21  KA001   호텔   32000     2     2  서귀포   KAL호텔    64000
20  2024-08-03  KA001   호텔   32000     6     4  서귀포   KAL호텔   128000
21  2024-08-04  KA001   호텔   32000     4     2  서귀포   KAL호텔    64000
22  2024-07-20  BL001  리조트   75000     6     2  남해권    푸른바다   150000
23  2024-08-03  BL001  리조트   75000     6     2  남해권    푸른바다   150000
24  2024-08-04  BL001  리조트   75001     2     3  남해권    푸른바다   225003

In [5]:
codeGrp=df.groupby(['코드','숙소명']).sum()
codeGrp

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5100\1334904211.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  codeGrp=df.groupby(['코드','숙소명']).sum()

                  1박요금  예약인원  숙박일수     숙박요금
코드    숙소명
BL001  푸른바다     225001    14     7   525003
BS001  베스트뷰     375000    11     5   625000
HA001  하야트호텔   1080000    14    10  2700000
KA001  KAL호텔    128000    16    12   384000
LT001  롯데캐슬    1000000    10     7  1750000
MS001  엠스테이     240000     6     5   600000
SK001  스카이베이    270000     6     6   810000
TB001  더비치      294000    13     8   784000

In [6]:
codeCnt=df.groupby(['코드','숙소명']).agg({'종류':'count'})
codeCnt

               종류
코드    숙소명
BL001  푸른바다     3
BS001  베스트뷰     3
HA001  하야트호텔    4
KA001  KAL호텔    4
LT001  롯데캐슬     4
MS001  엠스테이     2
SK001  스카이베이    2
TB001  더비치      3

In [7]:
codeGrp['예약건수']=codeCnt['종류']

In [8]:
codeGrp

                  1박요금  예약인원  숙박일수     숙박요금  예약건수
코드    숙소명
BL001  푸른바다     225001    14     7   525003     3
BS001  베스트뷰     375000    11     5   625000     3
HA001  하야트호텔   1080000    14    10  2700000     4
KA001  KAL호텔    128000    16    12   384000     4
LT001  롯데캐슬    1000000    10     7  1750000     4
MS001  엠스테이     240000     6     5   600000     2
SK001  스카이베이    270000     6     6   810000     2
TB001  더비치      294000    13     8   784000     3

In [9]:
codeGrp.sort_values('숙박요금', ascending=False, inplace=True)
codeGrp

                  1박요금  예약인원  숙박일수     숙박요금  예약건수
코드    숙소명
HA001  하야트호텔   1080000    14    10  2700000     4
LT001  롯데캐슬    1000000    10     7  1750000     4
SK001  스카이베이    270000     6     6   810000     2
TB001  더비치      294000    13     8   784000     3
BS001  베스트뷰     375000    11     5   625000     3
MS001  엠스테이     240000     6     5   600000     2
BL001  푸른바다     225001    14     7   525003     3
KA001  KAL호텔    128000    16    12   384000     4

In [14]:
df.sort_values(by=['입실일','코드'], ascending=[True, True], inplace=True)

In [12]:
df

           입실일     코드   종류    1박요금  예약인원  숙박일수   지역      숙소명    숙박요금
0   2024-07-20  MS001   펜션  120000     2     2  서부권    엠스테이   240000
1   2024-08-03  MS001   펜션  120000     4     3  서부권    엠스테이   360000
2   2024-07-20  SK001  리조트  135000     2     3  동부권   스카이베이   405000
3   2024-08-03  SK001  리조트  135000     4     3  동부권   스카이베이   405000
4   2024-07-20  TB001   펜션   98000     3     3  동부권     더비치   294000
5   2024-08-03  TB001   펜션   98000     4     3  동부권     더비치   294000
6   2024-08-04  TB001   펜션   98000     6     2  동부권     더비치   196000
7   2024-07-20  LT001   호텔  250000     3     2  동부권    롯데캐슬   500000
8   2024-07-21  LT001   호텔  250000     3     1  동부권    롯데캐슬   250000
9   2024-08-03  LT001   호텔  250000     2     3  동부권    롯데캐슬   750000
10  2024-08-04  LT001   호텔  250000     2     1  동부권    롯데캐슬   250000
11  2024-07-20  BS001  리조트  125000     3     2  서부권    베스트뷰   250000
12  2024-07-21  BS001  리조트  125000     4     1  서부권    베스트뷰   125000
13  2024-08-03  BS001  리조트  125000     4     2  서부권    베스트뷰   250000
14  2024-07-20  HA001   호텔  270000     4     3  서귀포   하야트호텔   810000
15  2024-07-21  HA001   호텔  270000     4     2  서귀포   하야트호텔   540000
16  2024-08-03  HA001   호텔  270000     4     3  서귀포   하야트호텔   810000
17  2024-08-04  HA001   호텔  270000     2     2  서귀포   하야트호텔   540000
18  2024-07-20  KA001   호텔   32000     4     4  서귀포   KAL호텔   128000
19  2024-07-21  KA001   호텔   32000     2     2  서귀포   KAL호텔    64000
20  2024-08-03  KA001   호텔   32000     6     4  서귀포   KAL호텔   128000
21  2024-08-04  KA001   호텔   32000     4     2  서귀포   KAL호텔    64000
22  2024-07-20  BL001  리조트   75000     6     2  남해권    푸른바다   150000
23  2024-08-03  BL001  리조트   75000     6     2  남해권    푸른바다   150000
24  2024-08-04  BL001  리조트   75001     2     3  남해권    푸른바다   225003

In [16]:
df.to_excel("c:\python_work\\송파성수기숙박예약일정1.xlsx", index=False, sheet_name="호텔예약")