In [3]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'이름':['이서진','정유미','박서준','최우식','고민시','나영석'],
                '나이':[53,42,36,32,27,45],
                '신장':[173,160,180,179,163,169],
                '체중':[75,55,74,68,52,66],
                '혈액형':['A','B','B','O','AB','B']})
df

    이름  나이   신장  체중 혈액형
0  이서진  53  173  75   A
1  정유미  42  160  55   B
2  박서준  36  180  74   B
3  최우식  32  179  68   O
4  고민시  27  163  52  AB
5  나영석  45  169  66   B

In [4]:
df.loc[6]=['심진화',44,162,65,'AB']
df

    이름  나이   신장  체중 혈액형
0  이서진  53  173  75   A
1  정유미  42  160  55   B
2  박서준  36  180  74   B
3  최우식  32  179  68   O
4  고민시  27  163  52  AB
5  나영석  45  169  66   B
6  심진화  44  162  65  AB

In [5]:
df.insert(5,'소속사',['SM','쿠팡','카카오','SM','JYP','SM','무소속'])
df

    이름  나이   신장  체중 혈액형  소속사
0  이서진  53  173  75   A   SM
1  정유미  42  160  55   B   쿠팡
2  박서준  36  180  74   B  카카오
3  최우식  32  179  68   O   SM
4  고민시  27  163  52  AB  JYP
5  나영석  45  169  66   B   SM
6  심진화  44  162  65  AB  무소속

In [6]:
df.query("신장>=170 and 나이<60")

    이름  나이   신장  체중 혈액형  소속사
0  이서진  53  173  75   A   SM
2  박서준  36  180  74   B  카카오
3  최우식  32  179  68   O   SM

In [7]:
df[(df['신장']>=170) & (df['나이']<60)]

    이름  나이   신장  체중 혈액형  소속사
0  이서진  53  173  75   A   SM
2  박서준  36  180  74   B  카카오
3  최우식  32  179  68   O   SM

In [8]:
df

    이름  나이   신장  체중 혈액형  소속사
0  이서진  53  173  75   A   SM
1  정유미  42  160  55   B   쿠팡
2  박서준  36  180  74   B  카카오
3  최우식  32  179  68   O   SM
4  고민시  27  163  52  AB  JYP
5  나영석  45  169  66   B   SM
6  심진화  44  162  65  AB  무소속

In [9]:
df_backup=df.copy()
arr=df.to_numpy()

In [10]:
type(arr)

numpy.ndarray

In [11]:
blood=arr[:,4]
blood

array(['A', 'B', 'B', 'O', 'AB', 'B', 'AB'], dtype=object)

In [12]:
blood, bloodCnt= np.unique(blood, return_counts=True)
bloodCnt

array([1, 2, 3, 1], dtype=int64)

In [13]:
blood

array(['A', 'AB', 'B', 'O'], dtype=object)

In [14]:
blood

array(['A', 'AB', 'B', 'O'], dtype=object)

In [15]:
bloodCnt

array([1, 2, 3, 1], dtype=int64)

In [23]:
bloodZip=zip(blood,bloodCnt)

In [38]:
print("\t  **서진이네2 출연 연예인**\n")
print(f"이  름\t나이\t신장\t체중\t혈액형\t소속사")
print(f"======\t====\t====\t====\t======\t======")
for i,j,k,l,m,n in arr:
    print(f"{i}\t{j:>3}\t{k}\t{l:>3}\t{m:^5}\t{n}")
    
print("="*50)
print("평균 나이={:.2f}세".format(np.mean(arr[:,1])))
print("평균 신장={:.2f}Cm".format(np.mean(arr[:,2])))
print("평균 체중={:.2f}Kg".format(np.mean(arr[:,3])))
print()
for i,j in bloodZip:
    print(f"{i}형 : {j}명")

	  **서진이네2 출연 연예인**

이  름	나이	신장	체중	혈액형	소속사
======	====	====	====	======	======
이서진	 53	173	 75	  A  	SM
정유미	 42	160	 55	  B  	쿠팡
박서준	 36	180	 74	  B  	카카오
최우식	 32	179	 68	  O  	SM
고민시	 27	163	 52	 AB  	JYP
나영석	 45	169	 66	  B  	SM
심진화	 44	162	 65	 AB  	무소속
==================================================
평균 나이=39.86세
평균 신장=169.43Cm
평균 체중=65.00Kg