In [63]:
import numpy as np
import pandas as pd

# 1. 데이터 프레임 구성
library_users = {'sex': ['남', '남', '남', '여', '남', '여', '남', '여', '여', '남'],
                 'age': [23, 15, 42, 16, 17, 18, 25, 36, 50, 53],
                 'job': ['대학생', '중학생', '일반', '중학생', '고등학생', '고등학생', '일반', '일반', '일반', '일반'],
                 'rent_qty': [1, 1, 1, 2, 1, 1, 3, 3, 2, 3]}
df = pd.DataFrame(library_users)
df

  sex  age   job  rent_qty
0   남   23   대학생         1
1   남   15   중학생         1
2   남   42    일반         1
3   여   16   중학생         2
4   남   17  고등학생         1
5   여   18  고등학생         1
6   남   25    일반         3
7   여   36    일반         3
8   여   50    일반         2
9   남   53    일반         3

In [64]:
# 2. 인덱스 10에 [여, 50, 일반, 1] 에 대한 데이터를 삽입
# 풀이1
df.loc[10] = ['여', 50, '일반', 1]
print(df)
# 풀이2
# df_new = pd.DataFrame({'sex': ['여'], 'age': [50], 'job': ['일반'], 'rent_qty': [1]})
# pd.concat([df, df_new])

   sex  age   job  rent_qty
0    남   23   대학생         1
1    남   15   중학생         1
2    남   42    일반         1
3    여   16   중학생         2
4    남   17  고등학생         1
5    여   18  고등학생         1
6    남   25    일반         3
7    여   36    일반         3
8    여   50    일반         2
9    남   53    일반         3
10   여   50    일반         1

In [66]:
# 3. 열이름 변경하기 
df.rename(columns={'sex': '성별', 'age': '나이', 'job': '직업', 'rent_qty': '대출권수'}, inplace=True)
print(df)

   성별  나이    직업  대출권수
0   남  23   대학생     1
1   남  15   중학생     1
2   남  42    일반     1
3   여  16   중학생     2
4   남  17  고등학생     1
5   여  18  고등학생     1
6   남  25    일반     3
7   여  36    일반     3
8   여  50    일반     2
9   남  53    일반     3
10  여  50    일반     1

In [72]:
# 4. 도서관 이용자 나이 평균
print(np.round(np.mean(df[['나이']]),2), '세')

31.36 세

In [82]:
# 5. 중, 고등, 대학생, 일반인 이용자 인원수를 구하시오.
# 풀이1(내꺼)
# job_count = df['직업'].value_counts()
# print(job_count)
# for i in range(len(job_count)):
#     print(f"{job_count.index[i]} 인원수 : {job_count.iloc[i]}명")

직업
일반      6
중학생     2
고등학생    2
대학생     1
Name: count, dtype: int64

In [79]:
# 풀이2(강사님)
arr = np.array(df)
# arr = df.to_numpy()
mCnt = 0
hCnt = 0
uCnt = 0
gCnt = 0

for i, j, k, l in arr:
    if k == '중학생':
        mCnt += 1
    elif k == '고등학생':
        hCnt += 1
    elif k == '대학생':
        uCnt += 1
    elif k == '일반':
        gCnt += 1
print("=" * 30)
print("중학생 인원수 : {}명".format(mCnt))
print("고등학생 인원수 : {}명".format(hCnt))
print("대학생 인원수 : {}명".format(uCnt))
print("일반 인원수 : {}명".format(gCnt))

==============================
중학생 인원수 : 2명
고등학생 인원수 : 2명
대학생 인원수 : 1명
일반 인원수 : 6명