In [1]:
import numpy as np
import pandas as pd

# 1. 딕셔너리를 이용한 생성
ipsa = {'순번': [2301, 2302, 2303, 2304, 2305],
        '이름': ['차은우', '송혜교', '지창욱', '박서준', '아이유'],
        '성적': [95, 96, 92, 87, 93]}
df=pd.DataFrame(ipsa)
print(df)

     순번   이름  성적
0  2301  차은우  95
1  2302  송혜교  96
2  2303  지창욱  92
3  2304  박서준  87
4  2305  아이유  93

In [4]:
# 2. 리스트를 이용한 생성
df = pd.DataFrame([[90, 80, 70], [100, 90, 95], [80, 80, 80], [90, 95, 90], [85, 85, 80]],
                  index=['20231231', '20231232', '20231233', '20231235', '20231236'],
                  columns=['kor', 'eng', 'math'])
df

          kor  eng  math
20231231   90   80    70
20231232  100   90    95
20231233   80   80    80
20231235   90   95    90
20231236   85   85    80

In [43]:
# 응용
# 아래와 같이 멋지게 데이터프레임을 완성보세요
# 학과    이름  나이
# 컴퓨터     홍길동 20
# 미디어     이순신 21
# 인공지능    김유신 23
# 통계학     유관순 24
# 영문과     강감찬 23

student = {
        '학과': ['컴퓨터', '미디어', '인공지능', '통계학', '영문과'],
        '이름': ['홍길동', '이순신', '김유신', '유관순', '강감찬'],
        '나이': [20, 21, 23, 24, 23]
}
df = pd.DataFrame(student)
print("student1=======")
print(df)

student2 = pd.DataFrame([['컴퓨터', '홍길동', 20],
                         ['미디어', '이순신', 21],
                         ['인공지능', '김유신', 23],
                         ['통계학', '유관순', 24],
                         ['영문과', '강감찬', 23]],
                        columns=['학과', '이름', '나이'])
print("student2=======")
print(student2)

student1=======
     학과   이름  나이
0   컴퓨터  홍길동  20
1   미디어  이순신  21
2  인공지능  김유신  23
3   통계학  유관순  24
4   영문과  강감찬  23
student2=======
     학과   이름  나이
0   컴퓨터  홍길동  20
1   미디어  이순신  21
2  인공지능  김유신  23
3   통계학  유관순  24
4   영문과  강감찬  23

In [44]:
# 1. 열 이름만 출력
# print(df.columns)
df['이름']

Index(['학과', '이름', '나이'], dtype='object')

In [34]:
# 2. 열 이름, 나이 출력
df[['이름','나이']]

    이름  나이
0  홍길동  20
1  이순신  21
2  김유신  23
3  유관순  24
4  강감찬  23

In [32]:
# 3. 나이가 23세 이상만 출력
df[df['나이'] >=23]

     학과   이름  나이
2  인공지능  김유신  23
3   통계학  유관순  24
4   영문과  강감찬  23

In [33]:
# 4. 나이가 22세이상 25세 미만 데이터 출력
df[(df['나이'] >= 22) & (df['나이'] < 25)]

     학과   이름  나이
2  인공지능  김유신  23
3   통계학  유관순  24
4   영문과  강감찬  23