In [3]:
import numpy as np
import pandas as pd

# page 198 결측치
dic_data = {'kor': 90, 'eng': 80, 'math': 100, 'sci': 90}
subject_index = ['kor', 'eng', 'math', 'soc']
grade = pd.Series(dic_data, index=subject_index)
print(grade)

kor      90.0
eng      80.0
math    100.0
soc       NaN
dtype: float64

In [4]:
grade.to_frame()

          0
kor    90.0
eng    80.0
math  100.0
soc     NaN

In [5]:
grade.isnull()

kor     False
eng     False
math    False
soc      True
dtype: bool

In [6]:
grade.isna()

kor     False
eng     False
math    False
soc      True
dtype: bool

In [7]:
grade.notnull()

kor      True
eng      True
math     True
soc     False
dtype: bool

In [8]:
grade.sum()

np.float64(270.0)

In [10]:
grade.mean()

np.float64(90.0)

In [11]:
grade.count()

np.int64(3)

In [26]:
# 응용
# 1. 다음과 같이 리스트 구조로 완성하신 후, se 라는 시리즈로 변경
city = ['서울', '부산', '대구', '인천']
temp = [18, 17, 16, 14]
se=pd.Series(temp, index=city)
print(se)

서울    18
부산    17
대구    16
인천    14
dtype: int64

In [27]:
# 2. se 시리즈에 다음 데이터 삽입  /   대전 = 19
se['대전'] = 19
print(se)

서울    18
부산    17
대구    16
인천    14
대전    19
dtype: int64

In [28]:
# 3. 시리즈에서 기온이 16이상 18 미만의 데이터 조회
se[(se >= 16) & (se < 18)]

부산    17
대구    16
dtype: int64

In [29]:
# 4. 부산 데이터를 20으로 수정
se['부산'] = 20
print(se)

서울    18
부산    20
대구    16
인천    14
대전    19
dtype: int64

In [30]:
# 5. 서울에서 대구까지 index를 조회
se.loc['서울':'대구']

서울    18
부산    20
대구    16
dtype: int64

In [31]:
# 6. 대구 index를 삭제
del se['대구']
print(se)

서울    18
부산    20
인천    14
대전    19
dtype: int64

In [25]:
# 7. se 시리즈를 삭제
del se