In [18]:
import numpy as np
import pandas as pd

# 1. 딕셔너리를 이용한 생성
ipsa = {'순번': [2301, 2302, 2303, 2304, 2305],
        '이름': ['차은우', '송혜교', '지창욱', '박서준', '아이유'],
        '성적': [95, 96, 92, 87, 93]}
df = pd.DataFrame(ipsa)
print(df)

     순번   이름  성적
0  2301  차은우  95
1  2302  송혜교  96
2  2303  지창욱  92
3  2304  박서준  87
4  2305  아이유  93

In [19]:
# 출신 추가
df['출신'] = ['서울', '강원', '부산', '대전', '서울']
print(df)

     순번   이름  성적  출신
0  2301  차은우  95  서울
1  2302  송혜교  96  강원
2  2303  지창욱  92  부산
3  2304  박서준  87  대전
4  2305  아이유  93  서울

In [20]:
df.insert(0, '학번', [2312123, 2312124, 2312125, 2312126, 2312127])
print(df)

        학번    순번   이름  성적  출신
0  2312123  2301  차은우  95  서울
1  2312124  2302  송혜교  96  강원
2  2312125  2303  지창욱  92  부산
3  2312126  2304  박서준  87  대전
4  2312127  2305  아이유  93  서울

In [21]:
df.drop('출신', axis=1, inplace=True)
print(df)

        학번    순번   이름  성적
0  2312123  2301  차은우  95
1  2312124  2302  송혜교  96
2  2312125  2303  지창욱  92
3  2312126  2304  박서준  87
4  2312127  2305  아이유  93

In [22]:
df.drop('학번', axis=1, inplace=True)
print(df)

     순번   이름  성적
0  2301  차은우  95
1  2302  송혜교  96
2  2303  지창욱  92
3  2304  박서준  87
4  2305  아이유  93

In [23]:
# 1. 열 '학번'을 삭제한 후, df에 저장. 단, inplace 옵션은 사용하지 않음.
df = df.drop(['학번'], axis=1)
df  # inplace 없이 삭제된 내용이 df로 저장

KeyError: "['학번'] not found in axis"

In [24]:
# 2. df 데이터프레임에 열 '나이'를 삽입. 단, '이름','성적' 사이에 삽입
df.insert(2, '나이', [23, 42, 35, 36, 31])
df

     순번   이름  나이  성적
0  2301  차은우  23  95
1  2302  송혜교  42  96
2  2303  지창욱  35  92
3  2304  박서준  36  87
4  2305  아이유  31  93

In [25]:
# 3. df 데이터프레임에서 열 '나이', '성적'을 동시에 삭제
df.drop(['나이', '성적'], axis=1, inplace=True)
df

     순번   이름
0  2301  차은우
1  2302  송혜교
2  2303  지창욱
3  2304  박서준
4  2305  아이유

In [27]:
df_backup = df.copy()
del df
df_backup

NameError: name 'df' is not defined

In [60]:
# 다시 복구
df = df_backup.copy()
df.rename(columns={'이름': '성명'})

     순번   성명
0  2301  차은우
1  2302  송혜교
2  2303  지창욱
3  2304  박서준
4  2305  아이유