In [2]:
import numpy as np
import pandas as pd

# 1. 다음 강수량에 대한 데이터를 참고하여 시리즈 데이터를 생성. 이때 지역명이 index 이다.
# 춘천 20.50
# 통영 22.30
# 인천 21.70
# 대전 29.10
# 광주 12.80
# 2. '광주' index를 22.3으로 수정
# 3. 다음 두 도시를 index에 추가
# 서울 = 28.2
# 제주 = 23.3
# 4. 통영부터 광주까지 문자열 인덱스를 슬라이싱
# 5. 춘천, 서울, 제주 문자열 인덱스를 슬라이싱
# 6. 강수량이 23보다 크고 30미만의 데이터에 대해 조회
# 7. 시리즈를 Numpy 배열로 반환 후 [실행결과]와 같이 출력

# Series
# 1. 데이터 생성
series = pd.Series([20.50, 22.30, 21.70, 29.10, 12.80], index=['춘천', '통영', '인천', '대전', '광주'])
print(series)

춘천    20.5
통영    22.3
인천    21.7
대전    29.1
광주    12.8
dtype: float64

In [3]:
# 2. '광주' index를 22.3으로 수정
series['광주'] = 22.3
print(series)

춘천    20.5
통영    22.3
인천    21.7
대전    29.1
광주    22.3
dtype: float64

In [56]:
# 3. 다음 두 도시를 index에 추가
# 서울 = 28.2
# 제주 = 23.3
series['서울'] = 28.2
series['제주'] = 23.3

       0
춘천  20.5
통영  22.3
인천  21.7
대전  29.1
광주  22.3
서울  28.2
제주  23.3

In [43]:
# 4. 통영부터 광주까지 문자열 인덱스를 슬라이싱
series.loc['통영':'광주']

통영    22.3
인천    21.7
대전    29.1
광주    22.3
dtype: float64

In [44]:
# 5. 춘천, 서울, 제주 문자열 인덱스를 슬라이싱
series.loc[['춘천', '서울', '제주']]

춘천    20.5
서울    28.2
제주    23.3
dtype: float64

In [45]:
# 6. 강수량이 23보다 크고 30미만의 데이터에 대해 조회
series[(series > 23) & (series < 30)]

대전    29.1
서울    28.2
제주    23.3
dtype: float64

In [52]:
# 7. 시리즈를 Numpy 배열로 반환 후 [실행결과]와 같이 출력
# 풀이1
series_index = series.index
series_column = series.values
series_zip = zip(series_index, series_column)
series_arr = np.array(list(series_zip))
# print(series_arr)

print(" 도시 \t\t 강우량")
print("=" * 20)
for city, precipitation in series_arr:
    print(f"{city} 도시\t\t강우량 {precipitation}")

[['춘천' '20.5']
 ['통영' '22.3']
 ['인천' '21.7']
 ['대전' '29.1']
 ['광주' '22.3']
 ['서울' '28.2']
 ['제주' '23.3']]
 도시 		 강우량
====================
춘천 도시		강우량 20.5
통영 도시		강우량 22.3
인천 도시		강우량 21.7
대전 도시		강우량 29.1
광주 도시		강우량 22.3
서울 도시		강우량 28.2
제주 도시		강우량 23.3

In [63]:
# 풀이2
series_index_np = np.array(series.index)
series_column_np = series.values    # type(series.values) ==> numpy.ndarray
series_zip_np = zip(series_index_np, series_column_np)

for i,j in series_zip_np:
    print(f"{i} 도시 강우량 {j:.2f}")

춘천 도시 강우량 20.50
통영 도시 강우량 22.30
인천 도시 강우량 21.70
대전 도시 강우량 29.10
광주 도시 강우량 12.80

In [64]:
# series.index.to_frame()
type(series.index)

pandas.core.indexes.base.Index

In [66]:
series = pd.Series([20.50, 22.30, 21.70, 29.10, 12.80], index=['춘천', '통영', '인천', '대전', '광주'])
type(series.values)

numpy.ndarray